


/*Sin flechas en el input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*Sin flechas en el input*/

@font-face {
  font-family: josefinsans;
  src: url(../fonts/josefinsans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: josefinsans-light;
  src: url(../fonts/JosefinSans-Light.ttf);
  font-weight: 600;
}  
@font-face {
  font-family: belgium;
  src: url(../fonts/Belgium\ Victory.ttf);
  font-weight: 800;
}


body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #424549;
  background: radial-gradient(circle, transparent 20%, #424549 20%, #424549 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #424549 20%, #424549 80%, transparent 80%, transparent) 65px 65px, linear-gradient(#46494c 5.2px, transparent 5.2px) 0 -2.6px, linear-gradient(90deg, #46494c 5.2px, #424549 5.2px) -2.6px 0;
  background-size: 130px 130px, 130px 130px, 65px 65px, 65px 65px;
  
}

/* NAV BAR */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  text-align: center;

  background: repeating-radial-gradient(circle, transparent, transparent 13.3px, #282b30 13.3px, #282b30 17.1px), repeating-radial-gradient(circle, transparent, transparent 13.3px, #282b30 13.3px, #282b30 17.1px), rgba(213, 213, 213, 0.99);
  background-size: 76px 76px;
  background-position: 0 0, 38px 38px, 76px 38px;
  background-color: #1e2124;
}

.pagetitle{
  left: 0;
  position: fixed;
  top: 90px;
  height: 30px;
  width: 100%;
  background-color: #1e2124;
  text-align: center;
  box-shadow: inset 0px 10px 10px 5px rgba(0, 0, 0, 0.26);
}

.pagetitletext{
  color: rgb(207, 207, 207);
  font-size: 20px;
  margin-top: 6px;
  text-decoration: none;
  font-family: 'josefinsans', sans-serif;
}

.logo{
  top: 10px;
  position: relative;
  width: 210px;
}

.floating{
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* NAV BAR */

.calcdiv{
  position: relative;
  top: 200px;
  height: 70%;
  z-index: 2;
}


.inputform{
  position: relative;
  height: 90%;
  width: 500px;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 40px;
  border-radius: 30px;
  backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
}

textarea:focus, input:focus{
  outline: #282b30 solid 2px;
}

input[type=text] {
  padding: 1% 2%;
  font-family: josefinsans;
  font-size: 3vh;
  border: none;
  border-radius: 4px;
  background-color: #868686;
  box-sizing: border-box;
}



.field{
  margin-top: 5%;
  margin-left: 6%;
  font-family: josefinsans;
  font-size: 3vh;
  
}
.field.valores{
  margin-top: 12%;
  
}

.calcbtn{
  width: 80%;
  height: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 20px;
  font-family: josefinsans;
  font-size: 4vh;
  padding-top: 1.5%;
  background-color: #1e2124;
  color:rgb(187, 187, 187);
}
.calcbtn:hover{
  background-color: #2c2f33;
}

.outputvalues{
  position: relative;
  float: right;
  width: 40%;
  border: 3px solid red;
  margin: auto 3%;
}

.formulamitjana{
width: 500px;
height: auto;
}

.resultado {
  width: 64%;
  font-family: josefinsans;
  font-size: 3vh;
  border: none;
  border-radius: 4px;
  background-color: #868686;
  box-sizing: border-box;
  float: right;
  margin-right: 11%;
  

}


footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: auto;

  text-align: center;
  color: white;
  z-index: 2;
  font-size: 15px;
  font-family: sans-serif; 

  outline: none; 
  box-shadow: none;

  background: repeating-radial-gradient(circle, transparent, transparent 13.3px, #282b30 13.3px, #282b30 17.1px), repeating-radial-gradient(circle, transparent, transparent 13.3px, #282b30 13.3px, #282b30 17.1px), rgba(213, 213, 213, 0.99);
  background-size: 76px 76px;
  background-position: 0 0, 38px 38px, 76px 38px;
  background-color: #1e2124;
}

@media only screen and (max-width:500px) { 
  .calcdiv {
    transform: scale(80%);
  }

  .field{
    margin-top: 5%;
    margin-left: 5%;
    font-family: josefinsans;
    font-size: 2.3vh;
    
  }
}


@keyframes floating {
  0% { transform: translate(0,  0%); }
  50%  { transform: translate(0, 10%); }
  100%   { transform: translate(0, -0%); }     
}

